{% extends 'base.html' %}

{% block contenido%}
	
	<div class="container">
	<div class="row mt-3">
		<div class="col-md-9 mx-auto mb-5">
			<div class="row">
				<div class="col-md-6">
					<img src="{{noticia.imagen.url}}" width="300">
				</div>
				<div class="col-md-6">	
				<h4>CATEGORIA: {{noticia.categoria}}</h4>
				<h4>FECHA: {{noticia.creado}}</h4>					
				<h4>TITULO: {{noticia.titulo}}</h4>
				
				<h4>AUTOR: {{noticia.autor}}</h4>
				<p>CONTENIDO: <br>{{noticia.contenido}}</p>
				<hr>
				</div>
			</div>		
				
		</div>
	</div>
	<hr>
	<h4>COMENTARIOS</h4>
	<div class="row" style="margin-bottom: 200px;">
		<div class="col-md-12">
		<form method="POST" action="{% url 'comentarios:agregar_comentarios' noticia.pk %}">{% csrf_token %}

			<textarea type="text" name="comentario" style="width: 800px;">
			
			</textarea>
			<input type="submit" name="" value="GUARDAR">	
		</form>
		</div>
		<hr>
		<div class="row">
			{% for c in noticia.MisComentarios %}	
				<div>
					<h4>{{c.creado}}</h4>
					<h4>{{c.usuario}}</h4>
					<h4>{{c.texto}}</h4>
					{% if user.is_staff or user == c.usuario %}
					<a	href="{% url 'comentarios:borrar_comentario' c.pk %}" class="btn btn-info">borrar</a>
					<a	href="{% url 'comentarios:modificar_comentario' c.pk %}" class="btn btn-info">modificar</a>	
					{% endif %}
				</div><hr>
			{% endfor %}	
		</div>
	</div>
</div>

{% endblock contenido %}