{% extends 'base.html' %}


{% block contenido %}
	
	<div class="container">
	<div class="row mt-3">
		<div class="col-md-9 mx-auto mb-5">
			<div class="row">
			{% for n in object_list %}
				<div class="col-md-4">
					<a href="{% url 'noticias:detalle_noticias' n.pk %}">
					<h4>CATEGORIA: {{n.categoria}}</h4>
					<h4>FECHA: {{n.creado}}</h4>					
					<h4>TITULO: {{n.titulo}}</h4>
					<img src="{{n.imagen.url}}" width="200">
					<h4>AUTOR: {{n.autor}}</h4>
					<hr>
					</a>
					{% if user.is_staff %}
					<a href="{% url 'noticias:borrar_noticia' n.pk %}" class="btn btn-info">
				 borrar</a>
				 	<a href="{% url 'noticias:modificar_noticia' n.pk %}" class="btn btn-success">
				 modificar</a>
				 {% endif %}
				</div>
			{% endfor %}
		</div>	
		</div>
	</div>
</div>

{% endblock contenido %}